* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

body {
    font-family: Arial, sans-serif;
    background-color: #3f3f3f;
    color: #fff;
    /*overflow: hidden;*/
    direction: ltr;
}

/* منو بالای صفحه */
.navbar {
    display: flex;
    gap: 40px;
    padding: 20px;
}

/* دکمه های داخل منو بالای صفحه */
.navbar-btn {
    background: none;
    border: none;
    color: #ccc;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s;
}

/*  دکمه های داخل منو بالای صفحه وقتی هاور میشن */
.navbar-btn:hover {
    color: #fff;
    transform: scale(1.1);
}

/* بخش اصلی محتوای صفحه*/
.layout {
    display: grid;
    grid-template-columns: 3fr 1fr; /* ستون اصلی 3 واحد، order 1 واحد */
    gap: 20px;
    align-items: start; /* از بالا شروع شود */
}

/* موارد زیر منو مثل سرچ و کتگوری */
.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.services__controls {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.search-input {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: none;
}

.category {
    background: #fff;
    color: #777;
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    position: relative;
}

.category-dropdown {
    display: none;
    list-style: none;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

.category:hover {
    display: block;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
}

.category:hover .category-dropdown {
    display: block;
    background-color: #d0cfcf;
    border-radius: 0px 0px 8px 8px;

}

.category-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.2s;
}

.category-dropdown li:hover {
    background-color: #ef853e;
    color: #fff;
    border-radius: 8px;
}

/* فضای موجود در پایین سرچ و کتگوری که شامل خانه هایی در ۴ ستون و ۵ دریف است */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250px); /* چهار ستون با عرض مشخص */
    grid-auto-rows: 120px; /* ارتفاع خانه */
    gap: 10px;
}

/* شکل و استایل خانه ها */
.grid-item {
    background-color: #3f3f3f;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;
    padding: 10px;
    font-size: 15px;
    border: #727070 2px solid;
    border-radius: 8px;
    transition: all 0.3s ease;
    width: 100%;
}

/* شکل و استایل خانه ها وقتی هاور میشن */
.grid-item:hover {
    background-color: #ef853e;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* عنوان هر خانه که بالا سمت چپ نوشته شده */
.grid-item .title {
    justify-self: start; /* چپ بالا */
    font-weight: bold;
}

/* قیمت و زمان هر خانه که پایین سمت چپ  و راست نوشته شده */
.grid-item .bottom {
    display: flex;
    justify-content: space-between;
    align-items: end; /* پایین خانه */
    font-size: 14px;
}

/* سمت راست صفحه از بالا تا پایین با عنوان youre order */
.order {
    position: absolute; /* هم سطح با nav */
    top: 0;
    right: 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

/* باکس اول زیر عنوان youre order */
.order-main {
    background: #5e5e5e;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.order-header {
    display: flex;
    justify-content: space-between;
}

/* چیدمان دکمه های تخفیف و سابمیت در باکس اول */
.order-actions {
    background: #5e5e5e;
    border-radius: 8px;
    padding: 8px 8px 0 8px;
    display: grid;
    grid-template-columns: repeat(4, 50px) 70px;
}

/* دکمه های تخفیف */
.discount-btn {
    font-size: 0.75rem;
    padding: 6px 13px;
    background: #ffffff;
    color: #5e5e5e;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 2px;
}

.discount-btn:hover {
    background-color: #ef853e;
    color: #fff;
}

/* دکمه سابمیت باکس اول*/
.submit-btn {
    background: #ffffff;
    color: #5e5e5e;
    border-radius: 6px;
    border: none;
    font-size: 0.75rem;
    padding: 6px 13px;
    cursor: pointer;
    margin: 2px;
}

.submit-btn:hover {
    background-color: #ef853e;
    color: #fff;
}

/* عکس کاربر */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

/* اطلاعات کاربر */
.user {
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    gap: 8px;

}

/* متن زیر اطلاعات کاربر */
.order-box__subtitle {
    font-size: 0.75rem;
    color: #ccc;
}

/*  بولد شدن قیمت */
.order-box__price {
    font-weight: bold;
}

/* اطلاعات داخل باکس اول */
.order-items {
    list-style: none; /* باکس اول */
    font-size: 0.85rem;
}


.order-items li {
    display: flex;
    justify-content: space-between;
}

/* لیست باکس های بین باکس اول و total */
.order-list {
    display: grid;
    /*grid-template-rows: repeat( 4 , 80px) 160px;*/
    grid-template-rows: repeat(4, auto) 130px;
    gap: 10px;
}

/* اطلاعات داخل باکس های بین باکس اول و total */
.order-item {
    background: #5e5e5e;
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* انیمیشن برای باکس آخر */
/*.order-item.order-total {*/
/*    background: #5e5e5e;*/
/*    border-radius: 8px;*/
/*    padding: 12px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 12px;*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*    min-height: 220px;*/
/*    position: relative;*/

/*    !* حالت مخفی اولیه: پایین باکس *!*/
/*    transform: translateY(300px);*/
/*    opacity: 0.8;*/
/*    transition: transform 1s ease, opacity 0.3s ease;*/
/*}*/

/*!* وقتی موس روی باکس total یا والد آن رفت *!*/
/*.order:hover .order-item.order-total,*/
/*.order-item.order-total:hover {*/
/*    transform: translateY(0); !* بالا می‌آید *!*/
/*    opacity: 1;               !* کامل دیده شود *!*/
/*}*/


/* باکس آخر */
.order-item.order-total {
    background: #5e5e5e;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
    min-height: 220px; /* ارتفاع حداقل برابر با باکس اول */
}

/* هدر باکس آخر */
.order-item.order-total .total-header {
    display: flex; /* افقی بچین */
    justify-content: space-between; /* فاصله حداکثر بین دو طرف */
    align-items: center; /* هر دو متن وسط ارتفاع هدر */
    font-weight: bold;
    font-size: 0.9rem;
    width: 100%;
    box-sizing: border-box;
}

.order-item.order-total .total-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.order-item.order-total .image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    margin-bottom: 5px;
}

/* هاور شدن تصاویر داخل باکس آخر */
.order-total .image-box:hover {
    background-color: #ef853e;
    border-radius: 6px;
}

.order-item.order-total .image-box span {
    display: block;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
}

.order-item.order-total .charge-box {
    background-color: #3f3f3f;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px; /* فاصله با تصاویر */
    width: 100%; /* عرض کل باکس total */
    box-sizing: border-box;
}

.order-item.order-total .charge-box:hover {
    background-color: #ef853e;
}

.order-list .order-item:hover {
    background-color: #ef853e; /* رنگ هاور */
    color: #fff; /* رنگ متن هاور */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* افکت سایه */
    transition: all 0.3s ease; /* انتقال نرم */
}