* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #2c2c2e;
    overflow: hidden;
    padding: 20px;
    direction: ltr;
    font-family: sans-serif;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    gap: 20px;
}

.dashboard-main {

}