* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3f3f3f;
    color: #fff;
    overflow: hidden;
    direction: ltr;
}

.dashboard {
    display: grid;
    grid-template-rows: auto 1fr; /* ردیف اول nav، ردیف دوم content */
    position: relative; /* برای order */
}

.dashboard__nav {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.dashboard__nav-btn {
    background: none;
    border: none;
    color: #ccc;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s;
}

.dashboard__nav-btn:hover {
    color: #fff;
    transform: scale(1.1);
}

.dashboard__content {
    display: grid;
    grid-template-columns: 3fr 1fr; /* ستون اصلی 3 واحد، order 1 واحد */
    gap: 20px;
    align-items: start; /* از بالا شروع شود */
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.main__controls {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.main__search-input {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: none;
}

.main__category {
    background: #fff;
    color: #777;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.main__category-dropdown {
    display: none;
    list-style: none;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

.main__category:hover .main__category-dropdown {
    display: block;
    background-color: white;
    border-radius: 8px;
    margin-top: 2px;
}

.main__category-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.2s;
}

.main__category-dropdown li:hover {
    background-color: #ef853e;
    color: #fff;
    border-radius: 8px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 ستون مساوی */
    grid-template-rows: repeat(5, 120px); /* 5 ردیف با ارتفاع 100px */
    gap: 10px;
}

.grid-item {
    background-color: #3f3f3f;
    color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;
    padding: 10px;
    font-size: 15px;
    border: #727070 2px solid;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.grid-item:hover {
    background-color: #ef853e;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.grid-item .title {
    justify-self: start; /* چپ بالا */
    font-weight: bold;
}

.grid-item .down {
    display: flex;
    justify-content: space-between;
    align-items: end; /* پایین خانه */
    font-size: 14px;
}

.order-wrapper {
    position: absolute; /* هم‌سطح nav */
    top: 0;
    right: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.order-box--advanced {
    background: #5e5e5e;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-box__top {
    display: flex;
    justify-content: space-between;
}

.order-box__avatar-name {
    display: flex;
    gap: 8px;

}

.order-box__avatar {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.order-box__name {
    font-size: 0.9rem;
    font-weight: bold;
}

.order-box__subtitle {
    font-size: 0.75rem;
    color: #ccc;
}

.order-box__price {
    font-weight: bold;
}

.order-box__services {
    list-style: none;
    font-size: 0.85rem;
}

.order-box__services li {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.discount-btn {
    font-size: 0.75rem;
    padding: 6px 13px;
    background: #ffffff;
    color: #5e5e5e;
    border-radius: 6px;
    border: none;
    cursor: pointer;

}

.discount-btn:hover {
    background-color: #ef853e;
    color: #fff;
}

.order__btn {
    background: #ffffff;
    color: #5e5e5e;
    border-radius: 6px;
    border: none;
    font-size: 0.75rem;
    padding: 6px 17px;
    cursor: pointer;
}

.order__btn:hover {
    background-color: #ef853e;
    color: #fff;
}

.order-grid {
    display: grid;
    /*grid-template-rows: repeat(4, 42px) 65px;*/
    gap: 10px;
}

.order-box {
    background: #5e5e5e;
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-box--total {
    background: #4a4a4a;
    padding: 10px;
}