* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */
body {
    font-family: Arial, sans-serif;
    background-color: #3f3f3f;
    color: #fff;
    direction: ltr;

}

/* بخش اصلی محتوای صفحه*/
.layout {
    display: grid;
    grid-template-columns:1fr; /* ستون اصلی 3 واحد، order 1 واحد */
    gap: 20px;
    padding: 20px 20px;
}

/* موارد زیر منو مثل سرچ و کتگوری */
.services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.services__controls {
    display: grid;
    grid-template-columns:3fr 1fr;
    gap: 20px;
}

/* منو بالای صفحه */
.navbar {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    /*padding: 20px 20px;*/
    gap: 20px;
    height: auto;
    overflow-x: scroll;
}

/* دکمه های داخل منو بالای صفحه */
.navbar-btn {
    background: none;
    border: none;
    color: #ccc;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    width: 100%;
}

.search-input {
    height: 3rem;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    border: none;
    display: flex;
    align-items: center;
}

.category {
    background: #fff;
    height: 3rem;
    color: #777;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
}

.category span {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.category-dropdown {
    display: none;
    list-style: none;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
}

.category:hover {
    display: block;
    background-color: #ffffff;
    border-radius: 8px 8px 0px 0px;
}

.category:hover .category-dropdown {
    display: block;
    background-color: #d0cfcf;
    border-radius: 0px 0px 8px 8px;

}

.category-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 0.8rem;
}

.category-dropdown li:hover {
    background-color: #ef853e;
    color: #fff;
    border-radius: 8px;
}

/* فضای موجود در پایین سرچ و کتگوری */
.products-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 120px; /* ارتفاع خانه */
    gap: 20px;
}

/* شکل و استایل خانه ها */
.product {
    background-color: #3f3f3f;
    color: white;
    display: grid;
    gap: 5px;
    padding: 10px;
    font-size: 1rem;
    border: #727070 2px solid;
    border-radius: 8px;
}

/* عنوان هر خانه که بالا سمت چپ نوشته شده */
.product .title {
    font-weight: bold;
}

/* قیمت و زمان هر خانه که پایین سمت چپ  و راست نوشته شده */
.product .bottom {
    display: flex;
    justify-content: space-between;
    align-items: end; /* پایین خانه */
    font-size: 0.95rem;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* باکس اول زیر عنوان youre order */
.order-main {
    background: #5e5e5e;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-header {
    display: flex;
    justify-content: space-between;
}

/* چیدمان دکمه های تخفیف و سابمیت در باکس اول */
.order-actions {
    background: #5e5e5e;
    border-radius: 8px;
    padding: 8px 8px 0 8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

/* دکمه های تخفیف */
.discount-btn {
    font-size: 0.9rem;
    padding: 6px 13px;
    background: #ffffff;
    color: #5e5e5e;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 2px;
}

/* دکمه سابمیت باکس اول*/
.submit-btn {
    background: #ffffff;
    color: #5e5e5e;
    border-radius: 6px;
    border: none;
    font-size: 0.75rem;
    padding: 6px 13px;
    cursor: pointer;
    margin: 2px;
}

/* عکس کاربر */
.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 6px;
}

/* اطلاعات کاربر */
.user {
    font-size: 0.9rem;
    font-weight: bold;
    display: flex;
    gap: 8px;

}

/* متن زیر اطلاعات کاربر */
.order-box__subtitle {
    font-size: 0.75rem;
    color: #ccc;
}

/*  بولد شدن قیمت */
.order-box__price {
    font-weight: bold;
}

/* اطلاعات داخل باکس اول */
.order-items {
    list-style: none; /* باکس اول */
    font-size: 0.85rem;
}

.order-items li {
    display: flex;
    justify-content: space-between;
}

/* لیست باکس های بین باکس اول و total */
.order-list {
    display: grid;
    gap: 10px;
}

/* اطلاعات داخل باکس های بین باکس اول و total */
.order-item {
    background: #5e5e5e;
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* باکس آخر */
.order-item.order-total {
    background: #5e5e5e;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* هدر باکس آخر */
.order-item.order-total .total-header {
    display: flex; /* افقی بچین */
    justify-content: space-between; /* فاصله حداکثر بین دو طرف */
    align-items: center; /* هر دو متن وسط ارتفاع هدر */
    font-weight: bold;
    font-size: 0.9rem;
    width: 100%;
}

.order-item.order-total .total-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.order-item.order-total .image-box img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    margin-bottom: 5px;
}

/* نوشته های زیر هر عکس باکس آخر */
.image-box span {
    display: block;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
}

.charge-box button {
    background-color: #3f3f3f;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
    width: 22rem;
    height: auto;
    border: none;
}

/* تبلت */
@media (min-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }

    .navbar-btn {
        width: auto;
        padding: 10px 10px;
        font-size: 1rem;
    }

    .layout {
        grid-template-columns: 2fr 1fr; /* محتوا و سفارش کنار هم */
        gap: 20px;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .services__controls {
        grid-template-columns:  1fr;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .order-actions {
        grid-template-columns: repeat(2, 1fr);
    }

    .order-item.order-total .total-images {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* دسکتاپ */
@media (min-width: 900px) {

    .navbar {
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }

    .navbar-btn {
        width: auto;
        padding: 10px 10px;
        font-size: 1.2rem;
    }

    /*  دکمه های داخل منو بالای صفحه وقتی هاور میشن */
    .navbar-btn:hover {
        color: #fff;
        transform: scale(1.1);
    }

    .layout {
        grid-template-columns: 3fr 1fr; /* محتوا بزرگ‌تر و سفارش کنار */
    }

    .services__controls {
        grid-template-columns: 3fr 1fr;
    }

    .products-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .products-container :hover {
        background-color: #ef853e;
        color: #fff;
    }

    .order-actions {
        grid-template-columns: repeat(5, 1fr);
    }

    .order-item.order-total .total-images {
        grid-template-columns: repeat(3, 1fr);
    }

    .order {
        padding: 20px 0;
    }

    .discount-btn:hover {
        background-color: #ef853e;
        color: #fff;
        transition: all 0.3s ease;
    }

    .submit-btn:hover {
        background-color: #23799d;
        color: #fff;
        transition: all 0.3s ease;
    }

    .order-list .order-item:hover {
        background-color: #ef853e;
        color: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* افکت سایه */
        transition: all 0.3s ease;
    }

    .image-box span:hover {
        background-color: #ef853e;
        border-radius: 8px;
        color: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* افکت سایه */
        transition: all 0.3s ease;
    }

    .charge-box button:hover {
        background-color: #d78416;
        color: #fff;
        transition: all 0.3s ease;
    }
}